<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sipek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Sipek.Properties.Settings>
      <setting name="cfgSipPort" serializeAs="String">
        <value>5060</value>
      </setting>
      <setting name="cfgRingMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cfgSipAccountPorts" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;5060&lt;/string&gt;
            &lt;string&gt;5060&lt;/string&gt;
            &lt;string&gt;5060&lt;/string&gt;
            &lt;string&gt;5060&lt;/string&gt;
            &lt;string&gt;5060&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountRegPeriod" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;3600&lt;/string&gt;
            &lt;string&gt;3600&lt;/string&gt;
            &lt;string&gt;3600&lt;/string&gt;
            &lt;string&gt;3600&lt;/string&gt;
            &lt;string&gt;3600&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountDefault" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cfgSipAccountDomains" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;*&lt;/string&gt;
            &lt;string&gt;*&lt;/string&gt;
            &lt;string&gt;*&lt;/string&gt;
            &lt;string&gt;*&lt;/string&gt;
            &lt;string&gt;*&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgCFUFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgCFUNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="cfgCFNRNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="cfgCFNRFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgDNDFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgCFBFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgCFBNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="cfgAAFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgAATimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="cfgSipAccountDisplayName" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountAddresses" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountPassword" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountIds" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountUsername" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountState" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountNames" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgCodecList" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;PCMU/8000/1&lt;/string&gt;
            &lt;string&gt;PCMA/8000/1&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipAccountProxyAddresses" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgStunServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="cfgDtmfMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cfgSipAccountTransport" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;0&lt;/string&gt;
            &lt;string&gt;0&lt;/string&gt;
            &lt;string&gt;0&lt;/string&gt;
            &lt;string&gt;0&lt;/string&gt;
            &lt;string&gt;0&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgSipPublishEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfgSipAccountIndex" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
            &lt;string /&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="cfgRegistrationTimeout" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="cfgVAD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cfgECTail" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="cfgNameServer" serializeAs="String">
        <value />
      </setting>
      <setting name="cfgUpdgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </Sipek.Properties.Settings>
  </userSettings>
</configuration>